.search{
    height: 30rem;
    width: 100%;
    background-image: url('https://i.ibb.co/tcqGRCs/bannerbackground.png');
    background-repeat: no-repeat; 
    background-size: cover;
}
.searchBox{
    padding-top: 11rem;
}
.foods{
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
}
.food{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 5%;
}
.food:hover{
    color: red;
    text-decoration: none;
}